* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(58, 62, 180);
    background: linear-gradient(90deg, rgba(58, 62, 180, 1) 0%, rgba(29, 237, 253, 1) 50%, rgba(69, 94, 252, 1) 100%);
}

img {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.uno {
    grid-column: 1/7;
}

.dos {
    grid-column: 7/13;
}

.tres {
    grid-column: 1/5;
}

.cuatro {
    grid-column: 5/9;
}

.cinco {
    grid-column: 9/13;
    grid-row: 2/4;
}

.seis {
    grid-column: 1/9;
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
    }

    .uno {
        grid-column: 1 / 13;
    }

    .dos {
        grid-column: 1 / 13;
    }

    .tres {
        grid-column: 1 / 13;
    }

    .cuatro {
        grid-column: 1 / 13;
    }

    .cinco {
        grid-column: 1 / 13;
    }

    .seis {
        grid-column: 1 / 13;
    }

}